<% content_for :title, 'twitter' %>

<div id='page-top'>
  <img src="/assets/logo.jpg" alt="logo">
</div>

<% @posts.sort_by(&:created_at).reverse.each do |post| %>
  <div>
  <%= link_to (post.user.first_name + " " + post.user.last_name), user_path(post.user) %>
  </div>
  <div>
  <%= post.post %>
  </div>
  <div>
  <p>tweeted <%= time_ago_in_words(post.created_at) %> ago</p>
  </div>

  <%= link_to 'delete', user_post_path(post.user, post), data: { confirm: 'Are you sure you want to delete this tweet',
                                                method: 'delete'
                                              }
  %>
<% end %>
